body {
    background: #2596be;
    color: white;
    background-image: url('./images/fresh-homemade-chicken-tacos-recipe-idea.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
    /* box-shadow: #00000066;*/
}
div#top {
    padding-top: 50px;
}
div#overview,
div footer {
    padding-bottom: 50px;
    text-align: center;
}
div.menu {
    width: 100%;
}
#top {
    text-align: center;
    font-family: Marker Felt, fantasy;
}
#overview {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    font-family: Tahoma, sans-serif;
}
a {
    color: white;
}
.scroll {
    overflow: scroll;
}
footer {
    font-family: Marker Felt, fantasy;
}